<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EmployeeDirectory</display-name>
  <welcome-file-list>
    <welcome-file>index1.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>EmployeeList</servlet-name>
  	<servlet-class>com.tenseconds.controller.EmployeeController</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>EmployeeList</servlet-name>
  	<url-pattern>/listOfEmployees</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>EmployeeList</servlet-name>
  	<url-pattern>/EmployeeController</url-pattern>
  </servlet-mapping> 
  
  <servlet-mapping>
  	<servlet-name>EmployeeList</servlet-name>
  	<url-pattern>/deleteEmployee</url-pattern>
  </servlet-mapping>
  
</web-app>


